/* Date Picker Default Styles - https://github.com/stuttter/wp-datepicker-styling*/
.ui-datepicker {
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-top: none;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    min-width: 17em;
    width: auto;
	z-index: 1000 !important;
}

body.wp-admin:not(.rtl) .ui-datepicker {
	margin-left: -1px;
}

body.wp-admin.rtl .ui-datepicker {
	margin-right: -1px;
}

.ui-datepicker * {
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ui-datepicker table {
    font-size: 13px;
    margin: 0;
    border: none;
    border-collapse: collapse;
}

.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background-image: none;
    border: none;
    color: #fff;
    font-weight: normal;
}

.ui-datepicker .ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}

.ui-datepicker .ui-datepicker-title {
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: relative;
    top: 0;
    height: 34px;
    width: 34px;
}

.ui-datepicker .ui-state-hover.ui-datepicker-prev,
.ui-datepicker .ui-state-hover.ui-datepicker-next {
    border: none;
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-prev-hover {
    left: 0;
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-next-hover {
    right: 0;
}

.ui-datepicker .ui-datepicker-next span,
.ui-datepicker .ui-datepicker-prev span {
    display: none;
}

.ui-datepicker .ui-datepicker-prev {
    float: left;
}

.ui-datepicker .ui-datepicker-next {
    float: right;
}

.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
    font: normal 20px/34px 'dashicons';
    padding-left: 7px;
    color: #fff;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 34px;
    height: 34px;
}

.ui-datepicker .ui-datepicker-prev:before {
    content: '\f341';
}

.ui-datepicker .ui-datepicker-next:before {
    content: '\f345';
}

.ui-datepicker .ui-datepicker-prev-hover:before,
.ui-datepicker .ui-datepicker-next-hover:before {
    opacity: 0.7;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 33%;
}

.ui-datepicker thead {
    color: #fff;
    font-weight: 600;
}

.ui-datepicker th {
    padding: 10px;
}

.ui-datepicker td {
    padding: 0;
    border: 1px solid #f4f4f4;
}

.ui-datepicker td.ui-datepicker-other-month {
    border: transparent;
}

.ui-datepicker tr:first-of-type td {
	border-top: 1px solid #f0f0f0;
}

.ui-datepicker td.ui-datepicker-week-end {
    background-color: #f4f4f4;
    border: 1px solid #f0f0f0;
}

.ui-datepicker td.ui-datepicker-today {
    background-color: #f0f0c0;
}

.ui-datepicker td.ui-datepicker-current-day {
    background: #bbdd88;
}

.ui-datepicker td .ui-state-default {
    background: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    width: auto;
    display: block;
    padding: 5px 10px;
    font-weight: normal;
    color: #444;
}

.ui-datepicker td.ui-state-disabled .ui-state-default {
    opacity: 0.5;
}

/* Default Color Scheme */
.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background: #00a0d2;
}

.ui-datepicker thead {
    background: #32373c;
}

.ui-datepicker td .ui-state-hover {
    background: #0073aa;
    color: #fff;
}

/* WordPress Color Schemes */

/* Fresh */
.admin-color-fresh .ui-datepicker .ui-widget-header,
.admin-color-fresh .ui-datepicker .ui-datepicker-header {
    background: #00a0d2;
}

.admin-color-fresh .ui-datepicker thead {
    background: #32373c;
}

.admin-color-fresh .ui-datepicker td .ui-state-hover {
    background: #0073aa;
    color: #fff;
}

/* Blue */
.admin-color-blue .ui-datepicker .ui-widget-header,
.admin-color-blue .ui-datepicker .ui-datepicker-header {
    background: #52accc;
}

.admin-color-blue .ui-datepicker thead {
    background: #4796b3;
}

.admin-color-blue .ui-datepicker td .ui-state-hover {
    background: #096484;
    color: #fff;
}

/* Coffee */
.admin-color-coffee .ui-datepicker .ui-widget-header,
.admin-color-coffee .ui-datepicker .ui-datepicker-header {
    background: #59524c;
}

.admin-color-coffee .ui-datepicker thead {
    background: #46403c;
}

.admin-color-coffee .ui-datepicker td .ui-state-hover {
    background: #c7a589;
    color: #fff;
}

/* Ectoplasm */
.admin-color-ectoplasm .ui-datepicker .ui-widget-header,
.admin-color-ectoplasm .ui-datepicker .ui-datepicker-header {
    background: #523f6d;
}

.admin-color-ectoplasm .ui-datepicker thead {
    background: #413256;
}

.admin-color-ectoplasm .ui-datepicker td .ui-state-hover {
    background: #a3b745;
    color: #fff;
}

/* Midnight */
.admin-color-midnight .ui-datepicker .ui-widget-header,
.admin-color-midnight .ui-datepicker .ui-datepicker-header {
    background: #363b3f;
}

.admin-color-midnight .ui-datepicker thead {
    background: #26292c;
}

.admin-color-midnight .ui-datepicker td .ui-state-hover {
    background: #e14d43;
    color: #fff;
}

/* Ocean */
.admin-color-ocean .ui-datepicker .ui-widget-header,
.admin-color-ocean .ui-datepicker .ui-datepicker-header {
    background: #738e96;
}

.admin-color-ocean .ui-datepicker thead {
    background: #627c83;
}

.admin-color-ocean .ui-datepicker td .ui-state-hover {
    background: #9ebaa0;
    color: #fff;
}

/* Sunrise */
.admin-color-sunrise .ui-datepicker .ui-widget-header,
.admin-color-sunrise .ui-datepicker .ui-datepicker-header,
.admin-color-sunrise .ui-datepicker .ui-datepicker-header .ui-state-hover {
    background: #cf4944;
}

.admin-color-sunrise .ui-datepicker th {
    border-color: #be3631;
    background: #be3631;
}

.admin-color-sunrise .ui-datepicker td .ui-state-hover {
    background: #dd823b;
    color: #fff;
}

/* Light */
.admin-color-light .ui-datepicker .ui-widget-header,
.admin-color-light .ui-datepicker .ui-datepicker-header {
    background: #e5e5e5;
}

.admin-color-light .ui-datepicker thead {
    background: #888;
}

.admin-color-light .ui-datepicker .ui-datepicker-title,
.admin-color-light .ui-datepicker td .ui-state-default,
.admin-color-light .ui-datepicker .ui-datepicker-prev:before,
.admin-color-light .ui-datepicker .ui-datepicker-next:before {
    color: #555;
}

.admin-color-light .ui-datepicker td .ui-state-hover {
    background: #e5e5e5;
}

/* bbPress Color Schemes */

/* Evergreen */
.admin-color-bbp-evergreen .ui-datepicker .ui-widget-header,
.admin-color-bbp-evergreen .ui-datepicker .ui-datepicker-header {
    background: #56b274;
}

.admin-color-bbp-evergreen .ui-datepicker thead {
    background: #36533f;
}

.admin-color-bbp-evergreen .ui-datepicker td .ui-state-hover {
    background: #446950;
    color: #fff;
}

/* Mint */
.admin-color-bbp-mint .ui-datepicker .ui-widget-header,
.admin-color-bbp-mint .ui-datepicker .ui-datepicker-header {
    background: #4ca26a;
}

.admin-color-bbp-mint .ui-datepicker thead {
    background: #4f6d59;
}

.admin-color-bbp-mint .ui-datepicker td .ui-state-hover {
    background: #5fb37c;
    color: #fff;
}