/* version 1.0.0 */
@page {
	size: A4 portrait;
}

#wpadminbar,
#adminmenumain,
#screen-meta-links,
.wrap h1.wp-heading-inline,
div.wrap a.page-title-action,
ul.subsubsub,
#posts-filter p.search-box,
div.tablenav,
.sorting-indicator,
.check-column,
.row-actions,
#wpfooter,
tfoot {
	display: none;
}

#wpcontent,
#wpbody-content .wrap {
	margin: 0;
	padding: 0;
}

a {
	color: #555;
}

table.widefat {
	border: none;
}

#fullname,
#membership {
	width: 25%;
	font-weight: 600;
}
#agegroup,
#capsize,
#health,
#allergies,
#gender {
	width: 10%;
	font-weight: 600;
}

#the-list td {
	padding: 5px 0 5px 5px;
}

a.row-title {
	font-weight: 400;
}