/* version 1.1 */
h2:nth-of-type(1),
h2:nth-of-type(4),
table.form-table:nth-of-type(1),
tr.user-url-wrap,
tr.user-description-wrap,
tr.user-profile-picture,
div.yoast.yoast-settings {
	display: none;
}
table.form-table {
	margin-top: 0;
}
table.form-table th {
	padding: 10px;
}
table.form-table td {
	padding: 5px 10px;
}
p {
	margin: 0;
}
ul {
	margin-top: 0.4em;
}
.nurc-club-balance {
	display: inline-block;
	margin-top: 0.5em;
	margin-left: 3em;
	font-weight: 500;
}
td.nurc-balance {
	text-align: right;
}
.green {
	color: green;
}
.red {
	color: #a00;
}