#nurc_member-tabs,
#nurc_member-adder,
#nurc_member_type-tabs,
#nurc_member_type-adder,
#nurc_member_status-tabs,
#nurc_member_status-adder {
	display: none;
}
#nurc_memberdiv,
#nurc_member_typediv {
	margin-bottom: 0;
}
#post-body #normal-sortables {
	min-height: 0;
}
p.small-note {
	font-size: 12px;
}