input.datepicker[readonly] {
	background-color: #ffffff;
}
#post-body #normal-sortables {
	min-height: 0;
}
.post-type-nurc .postbox,
.post-type-nurc_race .postbox,
.post-type-nurc_rack .postbox {
	border: none;
}
#nurc_memberdiv,
#nurc_member_typediv,
#nurc_member_statusdiv {
	margin-bottom: 0;
}
.post-type-nurc div.inside,
.post-type-nurc_race div.inside,
.post-type-nurc_rack div.inside {
	padding: 8px 12px;
	border: none;
}
.post-type-nurc #titlediv div.inside,
.post-type-nurc_race #titlediv div.inside,
.post-type-nurc_rack #titlediv div.inside {
	padding: 0;
}
.post-type-nurc .postbox label,
.post-type-nurc_race .postbox label,
.post-type-nurc_race .postbox select,
.post-type-nurc_rack .postbox label {
	font-weight: 500;
	font-size: 0.9em;
}
.post-type-nurc .postbox label.selectit,
.post-type-nurc_race .postbox label.selectit, 
.post-type-nurc_rack .postbox label.selectit {
	font-weight: normal;
	font-size: 13px;
}
#nurc_race-event .inside label,
#nurc_rack-details .inside label {
	padding-top: 1em;
	display:  block;
}
.post-type-nurc .postbox label.selectit input,
.post-type-nurc_race .postbox label.selectit input,
.post-type-nurc_rack .postbox label.selectit input {
	margin-bottom: 0;
}
div.nurc-radio {
	border: 1px solid #ddd;
	padding: 3px 5px;
	margin-bottom: 0.75em;
}
.post-type-nurc .postbox textarea,
.post-type-nurc_race .postbox textarea,
.post-type-nurc_rack .postbox textarea   {
	width: 100%;
	height: 6em;
}
.post-type-nurc .postbox input,
.post-type-nurc_race .postbox input, 
.post-type-nurc_rack .postbox input  {
	margin-bottom: 0.75em;
}
.post-type-nurc .postbox input.third,
.post-type-nurc_race .postbox input.third, 
.post-type-nurc_rack .postbox input.third  {
	width: 30%;
}
.post-type-nurc .postbox input[type="radio"],
.post-type-nurc_race .postbox input[type="radio"],
.post-type-nurc_rack .postbox input[type="radio"],
.post-type-nurc .postbox input[type="checkbox"],
.post-type-nurc_race .postbox input[type="checkbox"],
.post-type-nurc_rack .postbox input[type="checkbox"]  {
	margin-bottom: 0;
}
#nurc-entrants input[type="number"]{
	width: 6em;
}
.post-type-nurc .postbox .inside .categorydiv .category-tabs,
.post-type-nurc .postbox .inside .categorydiv .wp-hidden-children,
.post-type-nurc .postbox-container #submitdiv button,
.post-type-nurc_race .postbox-container #submitdiv .hndle.ui-sortable-handle,
.post-type-nurc_race .postbox .inside .categorydiv .category-tabs,
.post-type-nurc_race .postbox .inside .categorydiv .wp-hidden-children,
.post-type-nurc_race .postbox-container #submitdiv button,
.post-type-nurc_rack .postbox-container #submitdiv .hndle.ui-sortable-handle,
.post-type-nurc_rack .postbox .inside .categorydiv .category-tabs,
.post-type-nurc_rack .postbox .inside .categorydiv .wp-hidden-children,
.post-type-nurc_rack .postbox-container #submitdiv button,
.post-type-nurc .postbox-container #submitdiv .hndle.ui-sortable-handle,
.post-type-nurc_race .postbox-container #submitdiv .hndle.ui-sortable-handle,
.post-type-nurc_rack .postbox-container #submitdiv .hndle.ui-sortable-handle,
#misc-publishing-actions,
#minor-publishing-actions,
.inline-edit-nurc .inline-edit-col-left,
.inline-edit-nurc .inline-edit-col-right,
.hidden,
#filter-by-date {
	display: none;
}
.post-type-nurc .inline-fieldset-nurc {
	display: block;
}
.post-type-nurc .inline-edit-col .input-text-wrap {
	width: 50%;
}
.post-type-nurc .inline-edit-save {
	width: 30%;
}
.nurc-currency,
td.column-total-entry,
td.column-total-trailer {
	text-align: right;
}
table.nurc_transactions {
	border-collapse: collapse;
}
table.nurc_transactions tr {
	border-bottom: 1px solid #ddd;
}
table.nurc_transactions th {
	font-size: 0.9em;
	text-align: left;
	font-weight: 500;
}
table.nurc_transactions th,
table.nurc_transactions td {
	padding: 0.5em 2em 0.5em 0;
}
table.nurc_transactions th {
	padding-bottom: 0;
}
.nurc_currency,
table.nurc_transactions th.nurc_currency {
	text-align: right;
}
.green {
	color: green;
}
.red {
	color: #a00;
}
.delete {
	cursor: pointer;
}
#nurc_race-event .inside .note {
	font-style: italic;
	font-size: 0.9em;
}
#nurc_rack-details #display_name {
	font-weight: 500;
}
.nurc-user {
	padding: 0 0 0.5em 0.5em;
	font-size: 14px;
}
th.column-rack-no {
	width: 6em;
}
.column-rack-no {
	text-align: right;
}
.rack.note {
	font-style: italic;
	font-size: 0.9em;
	color: #a00;
	padding-left: 1em;
}
