/*
 Theme Name:   Nottingham & Union Rowing Club
 Theme URI:    http://thehazels.uk
 Description:  Colormag Child Theme
 Author:       Antonia Whitaker
 Author URI:   http://thehazels.uk
 Template:     colormag
 Version:      1.0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  nurc

colours
red       #c00c00
dark red  #930000
menu bar  #232323
footer    #303440
text      #444444
grey text #666666
headings  #333333
pale grey #dbdbdb
*/

/* main styles */
h1 {
	font-size: 34px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 25px;
}
h4 {
	font-size: 20px;
}
ul, ol {
	font-size: 15px;
}
ol li {
	padding-bottom: 1em;
}
input, select, textarea {
	font-size: 14px;
}
input:focus, select:focus {
	-webkit-focus-ring-color: #666666;
	outline-color: #666666;
}
select {
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
select::selection {
	background-color: #c00c00;
}
table {
	font-size: 13px;
}
dl, dl p {
	font-size: 13px;
}
dt {
	margin-bottom: 0;
}

/* buttons */
.colormag-button, input[type='reset'], input[type='button'], input[type='submit'], button {
	padding: 5px 10px;
	border-radius: 0px;
	font-size: 16px
}
.more-link,
#content .post .article-content .above-entry-meta .cat-links a {
	border-radius: 0px;
}
#ctf #ctf-more {
	font-size: 12px; 
	border-radius: 0px;
}

/* hide meta information (categories, author) */
.above-entry-meta,
.byline {
	display: none;
}

/* header */
.news-bar ul.newsticker {
	font-size: 14px;
}
#header-text #site-title a {
	font-size: 35px;
}
#header-text-nav-wrap {
	padding: 10px 0 5px;
}
#header-right-sidebar ul.menu {
	padding-top: 1em;
	text-transform: uppercase;
	font-size: smaller;
	font-weight: bold;
}
#header-right-sidebar ul.menu span.cartcontents,
#header-right-sidebar ul.menu span.amount {
	font-size: smaller;
}
#header-right-sidebar ul.menu .wpmenucart-icon-shopping-cart-0 {
	font-size: larger;
}
ul.menunav-menu li.current_page_parent,
ul.menunav-menu li.current-menu-parent,
ul.menunav-menu li.current-page-ancestor {
	background-color: #c00c00;
}

/* footer */
.footer-socket-wrapper {
	padding-bottom: 20px;
}
.tg-footer-main-widget {
	width: 24%;
}
.tg-footer-other-widgets {
	width: 73%;
}

/* front page */
.widget_slider_area {
	width: 60%;
}
.widget_beside_slider {
	width: 35%;
	float: right;
}
.nurc-sp-category {
	width: 60%;
	float: left;
	margin-bottom: 2em;
}
.nurc-sp-links {
	width: 35%;
	float: right;
}

/* contact us */
form {
	border: 1px solid #dbdbdb;
	padding: 1em;
	border-radius: 3px;
}

/* woocommerce */
i.fa.fa-shopping-basket {
	color: #666666;
}
.single-product .product_cat-membership.product p.price,
.woocommerce.single-product .product_cat-membership.product ul.products li.product .price, 
.woocommerce.term-membership ul.products li.product .price {
	display: none;
}

/* single product */
.single-product .product_cat-membership.product .summary {
	width: 100%;
}
.woocommerce div.product form.cart .button {
	background-color: #c00c00;
}
.woocommerce div.product h1.product_title {
	margin-bottom: 18px;
}
.woocommerce .product h2 {
	font-size: 1.5em;
}
.woocommerce-variation-description p,
#nurc-price p {
	font-style: italic;
	color: #77a464;
}

/* wc fields */
input[type='tel'],
.woocommerce table.wccpf_fields_table td.wccpf_value input[type='text'],
.woocommerce table.wccpf_fields_table td.wccpf_value input[type='number'], 
.woocommerce table.wccpf_fields_table td.wccpf_value input[type='email'], 
.woocommerce table.wccpf_fields_table td.wccpf_value input[type='password'], 
.woocommerce table.wccpf_fields_table td.wccpf_value textarea, 
.woocommerce table.wccpf_fields_table td.wccpf_value select {
	background-color: #f8f8f8;
	padding: 1%;
	border: 1px solid #eaeaea;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wccpf-fields-group h4 {
	clear: both;
}
.product_cat-membership table.wccpf_fields_table {
	width: 50%;
	float: left;
	font-size: 14px;
}
.product_cat-membership table.wccpf_fields_table th,
.product_cat-membership table.wccpf_fields_table td {
	border: none;
	padding: 0;
	vertical-align: top;
}
.product_cat-membership table.wccpf_fields_table td.wccpf_value {
	padding-right: 1em;
}
.wccpf-fields-group-2,
.wccpf-fields-group-3,
.wccpf-fields-group-4 {
	clear: both;
}
.wcff-label.wcff-label-info {
	color: #666666;
	background-color: unset;
	border: none;
	padding: 0;
	font-weight: bold;
	clear: both;
}
.wcff-label.nurc-sub-info {
	font-size: 0.9em;
	font-weight: normal;
	color: #444444;
	font-style: italic;
}
.product_cat-membership table.wccpf_fields_table.nurc-full-width-wrapper {
	width: 100%;
}
.product_cat-membership table.wccpf_fields_table.nurc-checkbox-wrapper,
.product_cat-membership table.wccpf_fields_table.nurc-checkbox {
	width: 100%;
	margin-bottom: 1em;
}
.product_cat-membership table.wccpf_fields_table.nurc-checkbox-wrapper .wccpf_label label,
.product_cat-membership table.wccpf_fields_table.nurc-checkbox .wccpf_label label {
	padding-left: 1em;
}
.product_cat-membership table.wccpf_fields_table.nurc-checkbox-wrapper td.wccpf_label,
.product_cat-membership table.wccpf_fields_table.nurc-checkbox-wrapper td.wccpf_label label,
.product_cat-membership table.wccpf_fields_table.nurc-checkbox td.wccpf_label,
.product_cat-membership table.wccpf_fields_table.nurc-checkbox td.wccpf_label label {
	width: 50%;
	padding-right: 1em;
}
.product_cat-membership table.wccpf_fields_table.nurc-checkbox-wrapper td.wccpf_label label,
.product_cat-membership table.wccpf_fields_table.nurc-checkbox td.wccpf_label label {
	display: inherit;
}
.nurc-last-wrapper {
	margin-bottom: 1em;
}
.product_cat-membership table.wccpf_fields_table.nurc-last-wrapper td {
	padding-bottom: 2em;
}

/* shop */
.woocommerce ul.products li.product a {
	background-color: #c00c00;
	color: white;
}
.woocommerce-result-count {
	font-size: 14px;
	font-style: italic;
}
.woocommerce ul.products li.product {
	border: 1px solid #dbdbdb;
	-ms-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 1em;
}
.woocommerce ul.products.columns-3 li.product {
	width: 25%;
}
.woocommerce ul.products li.product a.added_to_cart {
	background-color: #ffffff;
	color: #c00c00;
}
.woocommerce-message a.button {
	margin: 0 1em;
}

/* checkout */
form.woocommerce-cart-form,
form.woocommerce-checkout {
	border: none;
	padding: 0;
	font-size: 15px;
}
.woocommerce .wc-proceed-to-checkout a.button.alt,
.woocommerce .woocommerce-checkout-payment button.button.alt {
	background-color: #c00c00;
	font-size: 16px;
	padding: 10px;
}
.woocommerce .wc-proceed-to-checkout a.button.alt:hover {
	background-color: #c00c00;
}
.woocommerce .woocommerce-checkout #payment {
	background-color: unset;
}
.woocommerce .woocommerce-checkout #payment ul.payment_methods {
	padding: 0.25em;
	border: none;
}
.woocommerce .woocommerce-checkout abbr.required {
	text-decoration: none;
}
.woocommerce .woocommerce-cart-form .product-thumbnail,
.wc_payment_methods {
	display: none;
}
.woocommerce #order_comments {
	height: 12em;
}

/* my account */
.woocommerce-account .woocommerce-MyAccount-navigation {
	width: 18%;
}
.woocommerce-account .woocommerce-MyAccount-content {
	width: 78%;
}
.woocommerce-MyAccount-navigation ul {
	list-style: none;
	padding-left: 0;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link a {
	display: block;
	width: 90%;
	background-color: #666666;
	color: white;
	border-left: 20px solid #232323;
	padding: 4%;
	margin-bottom: 2%;
}
.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link.is-active a {
	border-left-color: #c00c00;
}
.woocommerce-MyAccount-content .woocommerce-table,
.woocommerce-MyAccount-content .woocommerce-customer-details {
	font-size: 14px;
}
.woocommerce table.shop_table td.woocommerce-orders-table__cell-fullname {
	font-weight: bold;
	border-top-color: #666666;
}
.woocommerce-orders-table__cell-fee,
.woocommerce-orders-table__cell-payment,
.woocommerce-orders-table__cell-balance,
.woocommerce-orders-table__cell-rack-no {
	text-align: right;
}
.woocommerce-MyAccount-content ul.products li.product {
	border: none;
	margin: 0;
	padding: 0;
}
.woocommerce .woocommerce-MyAccount-content ul.products li.product a {
	margin-top: 0;
}

/* orders */
ul.wc-item-meta li {
	overflow: auto;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
strong.wc-item-meta-label {
	line-height: 1.6;
	display: inline-block;
	width: 40%;
	float: left;
	font-size: 14px;
}
.wc-item-meta li p {
	display: inline-block;
	width: 55%;
	float: right;
	font-size: 14px;
	margin-bottom: 0px;
}
/* membership */
.nurc-currency {
	text-align: right;
}
.green {
	color: green;
}
.red {
	color: #c00c00;
}
.note{
	font-size:0.9em;
	font-style: italic;
}
.note a {
	text-decoration: underline;
}
/* view-member */
div.nurc-radio {
	width: 95%;
	padding: 3px 5px;
	margin-bottom: 0.75em;
	font-size: 14px;
}
legend {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9em;
	padding: 1em 0;
}
/* datepicker */
table.ui-datepicker-calendar thead,
table.ui-datepicker-calendar tbody,
.ui-datepicker-header {
	font-family: "Open Sans", serif;
	font-size: 0.8em;
}
.woocommerce-MyAccount-content label {
	width: 95%;
	font-size: 14px;
}
.hidden {
	display: none;
}
.view-member input.border-error,
.view-member textarea.border-error {
	border-color: #b81c23;
}
.woocommerce-error::before {
	top: 0;
	left: 0.5em;
}
ul.woocommerce-error {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.woocommerce-MyAccount-content input,
.woocommerce-MyAccount-content textarea  {
	margin-bottom: 0.25em;
}

@media screen and (max-width: 768px) {

	.widget_slider_area {
		width: 100%;
	}
	.widget_beside_slider {
		width: 100%;
	}

	.woocommerce div.product div.summary,
	.woocommerce div.product .woocommerce-tabs {
		width: 100%;
	}
	.woocommerce div.product .woocommerce-tabs {
		margin-top: 0;
	}
	.product_cat-membership .cart table.wccpf_fields_table {
		width: 100%;

	}
	.woocommerce ul.products.columns-3 li.product {
		width: 40%;
	}
	.woocommerce-account .woocommerce-MyAccount-navigation {
		width: 40%;
	}
	.woocommerce-account .woocommerce-MyAccount-content {
		width: 100%;
	}
}


@media screen and (max-width: 600px) {

	.nurc-sp-category {
		width: 100%;
	}
	.nurc-sp-links {
		width: 100%;
		float: right
	}
	.tg-footer-main-widget {
		float: left;
		width: 100%;
	}
	.tg-footer-main-widget ul.sub-menu {
		display: block;
	}
	.tg-footer-other-widgets {
		width: 100%;
	}
	.tg-footer-other-widgets div {
		width: 100%;
	}
	.tg-footer-other-widgets div.tg-fourth-footer-widget {
		width: 100%;
	}
	.woocommerce ul.products[class*=columns-] li.product:nth-child(2n), 
	.woocommerce-page ul.products[class*=columns-] li.product:nth-child(2n) {
		float: left;
	}
	strong.wc-item-meta-label,
	.wc-item-meta li p {
		width: 100%;
	}
	.woocommerce ul.products li.product {
		width: 50%;
	}

}

@media screen and (max-width: 420px) {

	.woocommerce-account .woocommerce-MyAccount-navigation {
		width: 60%;
	}
	.type-post h1.entry-title,
	.type-page h1.entry-title {
		font-size: 28px;
	}

}